<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Обновить</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>

<header th:insert="blocks/header :: header"></header>

<main class="container-fluid">
    <h2 class="mb-3 mt-5 text-center">Обновить</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div th:if="${message}" class="alert alert-warning text-center" role="alert">
                <strong th:text="${message}"></strong>
            </div>
            <form th:action="${'/motherboards/' + motherboard.id + '/edit'}" method="post"
                  enctype="multipart/form-data">
                <div class="row">
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control mb-2" name="name" placeholder="Название" required
                               th:value="${motherboard.name}">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="file" class="form-control mb-2" name="file" accept="image/*">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control mb-2" name="socket" placeholder="Сокет" required
                               th:value="${motherboard.socket}">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control mb-2" name="chipset" placeholder="Чипсет" required
                               th:value="${motherboard.chipset}">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control mb-2" name="phases" placeholder="Фаз питаний" required
                               th:value="${motherboard.phases}">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="number" min="3" step="1" max="5" class="form-control mb-2" name="memoryType"
                               placeholder="Тип памяти DDR (введите число)" required
                               th:value="${motherboard.memoryType}">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="number" min="1" step="1" class="form-control mb-2" name="memoryMax"
                               placeholder="Максимальный объем памяти" required th:value="${motherboard.memoryMax}">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="number" min="0.01" step="0.01" class="form-control mb-2" name="price"
                               placeholder="Цена" required th:value="${motherboard.price}">
                    </div>
                    <div class="col-12 mb-2">
                        <input type="text" class="form-control mb-2" name="description" placeholder="Описание" required
                               th:value="${motherboard.description}">
                    </div>
                    <div class="col-6">
                        <button id="button_color" class="w-100 btn btn-warning" type="submit">Обновить</button>
                    </div>
                    <div class="col-6">
                        <button class="w-100 btn btn-secondary" type="reset">Сбросить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</main>
</body>
</html>